In [1]:
import pandas as pd
import numpy as np

In [2]:
df_delivery = pd.read_csv("deliveries.csv")
df_matches = pd.read_csv("matches.csv")

In [3]:
df_delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [12]:
df_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [15]:
df_matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [10]:
merged_df = pd.merge( df_delivery,df_matches, left_on='match_id', right_on='id', how='inner')

In [11]:
merged_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [16]:
merged_df.shape

(179078, 39)

In [17]:
merged_df.isnull().sum().

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
id                       0
season                   0
city                  1700
date                     0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
result                   0
dl_applied               0
winner                 372
win_by_runs              0
win_by_wickets           0
player_of_match        372
venue                    0
umpire1                500
umpire2                500
umpire3             150712
dtype: int64

In [18]:
merged_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

**Which year has the most number of matches played?**

In [233]:
# Assuming 'matches_data' is your DataFrame
year_most_matches = merged_df['season'].value_counts().idxmax()
most_matches_count = merged_df['season'].value_counts().max()
print("year: ", year_most_matches)
print("total_matches",most_matches_count)

year:  2013
total_matches 18177

**Which venue has hosted most number of IPL matches?**

In [99]:
merged_df["venue"].value_counts()

venue
Eden Gardens                                            17991
Wankhede Stadium                                        17590
M Chinnaswamy Stadium                                   16872
Feroz Shah Kotla                                        15604
Rajiv Gandhi International Stadium, Uppal               13303
MA Chidambaram Stadium, Chepauk                         12006
Sawai Mansingh Stadium                                  11158
Punjab Cricket Association Stadium, Mohali               8266
Maharashtra Cricket Association Stadium                  5055
Subrata Roy Sahara Stadium                               4064
Dr DY Patil Sports Academy                               3993
Kingsmead                                                3643
Punjab Cricket Association IS Bindra Stadium, Mohali     3315
Sardar Patel Stadium, Motera                             2893
SuperSport Park                                          2866
Brabourne Stadium                                        2719
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      2546
Saurashtra Cricket Association Stadium                   2381
Himachal Pradesh Cricket Association Stadium             2159
Holkar Cricket Stadium                                   1965
New Wanderers Stadium                                    1940
Rajiv Gandhi Intl. Cricket Stadium                       1912
M. A. Chidambaram Stadium                                1889
Feroz Shah Kotla Ground                                  1701
Dubai International Cricket Stadium                      1700
Barabati Stadium                                         1695
IS Bindra Stadium                                        1690
St George's Park                                         1677
JSCA International Stadium Complex                       1671
Sheikh Zayed Stadium                                     1624
Newlands                                                 1539
M. Chinnaswamy Stadium                                   1531
Sharjah Cricket Stadium                                  1439
Shaheed Veer Narayan Singh International Stadium         1431
Nehru Stadium                                            1155
Green Park                                                921
Vidarbha Cricket Association Stadium, Jamtha              742
De Beers Diamond Oval                                     726
Buffalo Park                                              715
OUTsurance Oval                                           500
ACA-VDCA Stadium                                          491
Name: count, dtype: int64

**What is the percentage of getting bat and field in feature 'toss_descision'?**

In [214]:
percentage_bat = cross_tab.loc['bat', 'count'] * 100
percentage_field = cross_tab.loc['field', 'count'] * 100

print(f"Percentage of 'bat'  {percentage_bat:.2f}%")
print(f"Percentage of 'field' {percentage_field:.2f}%")

Percentage of 'bat'  39.01%
Percentage of 'field' 60.99%

**Most number of wickets taken by a bowler is**

In [205]:

wickets_data = merged_df[merged_df['dismissal_kind'].notnull()] 
wickets_counts = wickets_data['bowler'].value_counts()

max_wickets_bowler = wickets_counts.idxmax()
max_wickets_count = wickets_counts.max()
print(max_wickets_bowler)
print(max_wickets_count)

SL Malinga
188

**Bowlers with maximum number of extras:**

In [200]:
group_by= merged_df.groupby("bowler")

In [201]:
group_by["extra_runs"].sum().sort_values(ascending = False)

bowler
SL Malinga      293
P Kumar         236
UT Yadav        219
DJ Bravo        201
B Kumar         197
               ...
AC Gilchrist      0
P Prasanth        0
CJ McKay          0
SA Yadav          0
P R Barman        0
Name: extra_runs, Length: 405, dtype: int64

**In 2017 when sunrisers hyderabad clashed against Royal Challengers Bangalore which team player won player of the match?**

In [198]:
result = (merged_df['team1'].isin(['Sunrisers Hyderabad', 'Royal Challengers Bangalore'])) & \
                   (merged_df['team2'].isin(['Sunrisers Hyderabad', 'Royal Challengers Bangalore'])) & \
                   (merged_df['season'] == 2017)

match_2017 = merged_df[result]

# Extracting the player of the match
player_of_the_match = match_2017[match_2017['season'] == 2017]['player_of_match'].values[0]

print(player_of_the_match)

Yuvraj Singh

**Across seasons who are the top three batsman's with most number of run out?**

In [124]:
merged_df.loc[merged_df["dismissal_kind"] == "run out", "batsman"].value_counts().sort_values(ascending=False)

batsman
MS Dhoni        21
RG Sharma       17
KD Karthik      16
G Gambhir       15
V Kohli         15
                ..
Vishnu Vinod     1
S Hetmyer        1
J Archer         1
S Gill           1
J Suchith        1
Name: count, Length: 277, dtype: int64

**What are the total runs scored by V Kohli when the bowler was JJ Burmah?**

In [152]:
merged_df.loc[(merged_df["bowler"]== "JJ Bumrah") & (merged_df['batsman'] == "V Kohli"),"batsman_runs"].sum()

112

**Across all seasons which player was dismissed the maximum number of times via caught and bowled**

In [167]:
merged_df.loc[merged_df["dismissal_kind"] == 'caught and bowled', "batsman"].value_counts()

batsman
SK Raina      7
RG Sharma     6
AT Rayudu     5
RA Jadeja     5
R Dravid      5
             ..
AB Agarkar    1
ML Hayden     1
IK Pathan     1
MK Tiwary     1
JC Buttler    1
Name: count, Length: 120, dtype: int64

**. In 2019 which batsman scored highest number of runs by hitting 6's and 4's?**

In [196]:

runs_6s_4s_2019 = merged_df[(merged_df['season'] == 2019) & ((merged_df['batsman_runs'] == 4) | (merged_df['batsman_runs'] == 6))]

batsman_runs_6s_4s_2019 = runs_6s_4s_2019.groupby('batsman')['batsman_runs'].sum()

highest_runs_batsman = batsman_runs_6s_4s_2019.idxmax()
total_runs_by_highest_batsman = batsman_runs_6s_4s_2019.max()

print(highest_runs_batsman)
print(total_runs_by_highest_batsman )

AD Russell
438

**City which hosted most number of seasons according to the data is:**

In [192]:

city_season_counts = merged_df.groupby('city')['season'].nunique()

most_hosted_city = city_season_counts.idxmax()
num_seasons_hosted = city_season_counts.max()

print(most_hosted_city)

Delhi

In [180]:
merged_df.loc[((merged_df["batsman_runs"] == 4) | (merged_df["batsman_runs"] == 6)) & (merged_df["season"] == 2019), "batsman"].value_counts()

batsman
AD Russell     84
CH Gayle       81
DA Warner      79
S Dhawan       76
KL Rahul       75
               ..
P Negi          1
DS Kulkarni     1
K Rabada        1
TA Boult        1
N Naik          1
Name: count, Length: 108, dtype: int64

**What is the percentage of getting bat and field in feature 'toss_descision'?**

In [179]:
merged_df["batsman_runs"].unique()

array([0, 4, 1, 6, 3, 2, 5, 7], dtype=int64)

In [194]:
decision_counts = merged_df['toss_decision'].value_counts()

decision_percentages = (decision_counts / decision_counts.sum()) * 100

print(decision_percentages)

toss_decision
field    60.9913
bat      39.0087
Name: count, dtype: float64

In [195]:

runs_6s_4s_2019 = merged_df[(merged_df['season'] == 2019) & ((merged_df['batsman_runs'] == 4) | (merged_df['batsman_runs'] == 6))]

batsman_runs_6s_4s_2019 = runs_6s_4s_2019.groupby('batsman')['batsman_runs'].sum()

highest_runs_batsman = batsman_runs_6s_4s_2019.idxmax()
total_runs_by_highest_batsman = batsman_runs_6s_4s_2019.max()

print(highest_runs_batsman)
print(total_runs_by_highest_batsman)

AD Russell
438